<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">

  <p><label for="team_name">Team Name: </label><input type="text" name="team[name]"></p>
  <p><label for="team_motto">Team Motto: </label><input type="text" name="team[motto]"></p>

  <% 3.times do |n| %>
    <h2>Hero <%= (n+1) %></h2>
    <p>
      <label for="member<%= (n+1) %>_name">Hero's Name: </label>
      <input id="member<%= (n+1) %>_name" type="text" name="team[heroes][][name]">
    </p>
    <p>
      <label for="member<%= (n+1) %>_power">Hero's Power: </label>
      <input id="member<%= (n+1) %>_power" type="text" name="team[heroes][][power]">
    </p>
    <p>
      <label for="member<%= (n+1) %>_bio">Hero's Biography: </label>
      <input id="member<%= (n+1) %>_bio" type="text" name="team[heroes][][bio]">
    </p>
  <% end %>

  <input type="submit" id="submit">
</form>
