
<div class = "team">
<h1>Team And Heroes</h1>
<p>Team Name: <%=@team.name%></p>
<p>Team Motto: <%=@team.motto%></p><br>
</div>

<h1>Superheros</h1><br>

<% @superheros.each.with_index do |superhero,i|%>
<div class="superhero">
<h1>Hero <%=i+=1%></h1>

<p>Hero Name: <%=superhero.name%></p><br>
<p>Hero Power: <%=superhero.power%></p><br>
<p>Hero Biography: <%=superhero.bio%></p><br>

</div><br>

<% end %>
