<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>
<h2>Hero Name: <%= @member_1_name %></h2>
<h5>Hero Power: <%= @member_1_power %></h5>
<h5>Hero Biography: <%= @member_1_bio %></h5>
<h2>Hero Name: <%= @member_2_name %></h2>
<h5>Hero Power: <%= @member_2_power %></h5>
<h5>Hero Biography: <%= @member_2_bio %></h5>
<h2>Hero Name: <%= @member_3_name %></h2>
<h5>Hero Power: <%= @member_3_power %></h5>
<h5>Hero Biography: <%= @member_3_bio %></h5>
