
<h1> Your Team </h1>

<div class="team">
  <h3>Team Name:<%= @team_name %></h3><br>
  <h4>Team Motto:<%= @team_motto %></h4>
</div><br>

<h1>Heros</h1>
<% @team_members.each do |hero| %>
  <div class="hero">
    <p>Hero Name:<%= hero[:name] %></p><br>
    <p>Hero Power:<%= hero[:power] %></p><br>
    <p>Hero Bio:<%= hero[:biography] %></p>
  </div><br>
<% end %>
