<h1>Team Name:</h1>
 <%= @team.name %>
<h2>Team Motto:</h2>
<%= @team.motto %>

<h2>Hero 1</h2>

Hero Name: <%= @hero1.name %><br>
Hero Power: <%= @hero1.power %><br>
Hero Biography: <%= @hero1.bio %>

<h2>Hero 2</h2>

Hero Name: <%= @hero2.name %><br>
Hero Power: <%= @hero2.power %><br>
Hero Biography: <%= @hero2.bio %>


<h2>Hero 3</h2>

Hero Name: <%= @hero3.name %><br>
Hero Power: <%= @hero3.power %><br>
Hero Biography: <%= @hero3.bio %>
