
<h1><%=@team.name%></h1>
<h2>Team Motto: <%=@team.motto%></h2><br>
<h2>Hero Name: <%=@super_heroes[0].name%></h2>
<h3>Hero Power: <%=@super_heroes[0].power%></h3>
<h3>Hero Biography: <%=@super_heroes[0].biography%></h3><br>
<h2>Hero Name: <%=@super_heroes[1].name%></h2>
<h3>Hero Power: <%=@super_heroes[1].power%></h3>
<h3>Hero Biography: <%=@super_heroes[1].biography%></h3><br>
<h2>Hero Name: <%=@super_heroes[2].name%></h2>
<h3>Hero Power: <%=@super_heroes[2].power%></h3>
<h3>Hero Biography: <%=@super_heroes[2].biography%></h3>



