<h1><%= @team_name %></h1><br>
<h2>Team Motto: <%= @team_motto %></h2><br>

<% @super_heroes.each do |hero| %>
    <h2>Hero's Name: <%= hero.name %></h2><br>
    <h3>Hero's Power: <%= hero.power %></h3><br>
    <h3>Hero's Biography: <%= hero.bio %></h3><br>
<% end %>



