Team Name:
<%= @team.name %>
Team Motto:
<%= @team.motto %>
Heroes:
<% @heroes.each do |h| %>
  <ul>
    <li> Hero Name: <%= h.name %> </li>
    <li> Hero Power: <%= h.power %> </li>
    <li> Hero Biography: <%= h.bio %> </li>
  </ul>
<% end %>
