<h3><%=@team.first.name%></h3>
<h3>Team Motto:<%=@team.first.motto%></h3>
<h3>Hero Name:<%=@hero.first.name%></h3>
<h4>Hero Power:<%=@hero.first.power%></h4>
<h4>Hero Biography:<%=@hero.first.bio%></h4>
<br>
<h3><%=@team[1].name%></h3>
<h3>Team Motto: <%=@team[1].motto%></h3>
<h3>Hero Name:<%=@hero.[1].name%></h3>
<h4>Hero Power:<%=@hero.[1].power%></h4>
<h4>Hero Biography:<%=@hero.[1].bio%></h4>
<br>
<h3><%=@team[2].name%></h3>
<h3><%=@team[2].motto%></h3>
<h3>Hero Name:<%=@hero.[2].name%></h3>
<br>
<h4>Hero Power:<%=@hero.[2].power%></h4>
<h4>Hero Biography:<%=@hero.[2].bio%></h4>
<br>