<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>
<br>
<h1>Heros</h1>
<% @team_members.each do |hero| %>
  <p><strong>Hero Name: <%= hero["name"] %></strong></p>
  <p><strong>Hero Power: <%= hero["power"] %></strong></p>
  <p><strong>Hero Biography: <%= hero["bio"] %></strong></p>
<%end%>
