<h1><%=@team.name%></h1>
<h1>Team Motto: <%=@team.motto%></h1>
<h1>Hero Name: <%=@heros[0].name%></h1>
<h2>Hero Power: <%=@heros[0].power%></h2>
<h2>Hero Biography: <%=@heros[0].bio%></h2>
<h1>Hero Name: <%=@heros[1].name%></h1>
<h2>Hero Power: <%=@heros[1].power%></h2>
<h2>Hero Biography: <%=@heros[1].bio%></h2>
<h1>Hero Name: <%=@heros[2].name%></h1>
<h2>Hero Power: <%=@heros[2].power%></h2>
<h2>Hero Biography: <%=@heros[2].bio%></h2>
