require 'pry'
<h1><%=@team.name%></h2>
<p></p>
<h3><%=@team.motto%></h3>
<p></p>
<div name ="heroes">
  <%@members.each do |members|%>
  <h2>Hero Name: <%=members.name%></h2>
  <h4>Hero Power: <%=members.power%></h4>
  <h4>Hero Biography: <%=members.bio%></h4>
</div>
<!--<div name ="hero 2">-->
<!--  <%params[:team][:members].each do |super_hero|%>-->
<!--  <h2>Hero Name: <%=super_hero.name%></h2>-->
<!--  <h4>Hero Power: <%=super_hero.power%></h4>-->
<!--  <h4>Hero Biography: <%=super_hero.bio%></h4>-->
<!--  </div>-->
<!--  <div name ="hero 3">-->
<!--  <%params[:team][:super_hero].each do |super_hero|%>-->
<!--  <h2>Hero Name: <%=super_hero.name%></h2>-->
<!--  <h4>Hero Power: <%=super_hero.power%></h4>-->
<!--  <h4>Hero Biography: <%=super_hero.bio%></h4>-->
<!--</div>-->
