<h1><%=@team.name %> </h1>
<h2>Team Motto: <%= @team.motto %></h2>
<h2>Hero Name: <%=@hero_1.name %></h2>
<h3>Hero Power: <%=@hero_1.power %></h3>
<h3>Hero Biography: <%=@hero_1.bio %></h3>
<h2>Hero Name: <%=@hero_2.name %></h2>
<h3>Hero Power: <%=@hero_2.power %></h3>
<h3>Hero Biography: <%=@hero_2.bio %></h3>
<h2>Hero Name: <%=@hero_3.name %></h2>
<h3>Hero Power: <%=@hero_3.power %></h3>
<h3>Hero Biography: <%=@hero_3.bio %></h3>
