<h1><%=@team.name%></h1>
  <h2>Team Motto: <%=@team.motto%></h2>
  <h2>Hero Name: <%=Member.all[0].name%></h2>
  <p>Hero Power: <%=Member.all[0].power%></p>
  <p> Hero Biography: <%=Member.all[0].bio%></p>
  <h2>Hero Name: <%=Member.all[1].name%></h2>
  <p>Hero Power: <%=Member.all[1].power%></p>
  <p> Hero Biography: <%=Member.all[1].bio%></p>

  <h2>Hero Name: <%=Member.all[2].name%></h2>
  <p>Hero Power: <%=Member.all[2].power%></p>
  <p>Hero Biography: <%=Member.all[2].bio%></p>