<h1>Flatiron</h1>

Team Name: <%= @team_name %>
Team Motto: <%= @team_motto %>

Hero 1

Hero Name: <%= @member_1_name %>
Hero Power: <%= @member_1_power %>
Hero Biography: <%= @member_1_bio %>
Hero Power: JavaScript

Hero 2

Hero Name: <%= @member_2_name %>
Hero Power: <%= @member_2_power %>
Hero Biography: <%= @member_2_bio %>

Hero 3

Hero Name: <%= @member_3_name %>
Hero Power: <%= @member_3_power %>
Hero Biography: <%= @member_3_bio %>


