
<h2>Team Name:</h2>
 <%= @team.name %>
<h2>Team Motto:</h2>
<%= @team.motto %>

<h4>Hero 1</h4>

Hero Name: <%= @hero_1.name %><br>
Hero Power: <%= @hero_1.power %><br>
Hero Biography: <%= @hero_1.bio %>

<h4>Hero 2</h4>

Hero Name: <%= @hero_2.name %><br>
Hero Power: <%= @hero_2.power %><br>
Hero Biography: <%= @hero_2.bio %>


<h4>Hero 3</h4>

Hero Name: <%= @hero_3.name %><br>
Hero Power: <%= @hero_3.power %><br>
Hero Biography: <%= @hero_3.bio %>
