<!DOCTYPE html>
<html>
  <head>
    <title>Heroes!</title>
  </head>
  <body>
    <h1><%= @team_name %></h1>
    <h2>Team Motto: <%= @team_motto %></h2>
    <% @team_members.each do |team_member|%>
        <h2>Hero Name: <%= team_member[:name] %></h2>
        <p>Hero Power: <%= team_member[:power] %></p>
        <p>Hero Biography: <%= team_member[:biography] %></p>
    <% end %>
  </body>
  </html>


