<h1>Your Team</h1>
Team Name: <%= @team.name %><br>
Team Motto: <%= @team.motto %><br>

<h2>First Hero</h2>
Hero Name: <%= @members[0].name %><br>
Hero Power: <%= @members[0].power %><br>
Hero Biography: <%= @members[0].bio %><br>

<h2>Second Hero</h2>
Hero Name: <%= @members[1].name %><br>
Hero Power: <%= @members[1].power %><br>
Hero Biography: <%= @members[1].bio %><br>

<h2>Third Hero</h2>
Hero Name: <%= @members[2].name %><br>
Hero Power: <%= @members[2].power %><br>
Hero Biography: <%= @members[2].bio %><br>