<h1>Display your team here</h1>
<div class="team">

    <h3>Team Name: <%= @team.name %></h3>
    <h4>Team Motto: <%= @team.motto %></h4>

    <h4>Hero Name: <%= @name[0]%></h4>
    <p>Hero Power: <% @power[0]%></p>
    <p>Hero Biography: <%= @bio[0]%></p>

    <h4>Hero Name: <%= @name[1]%></h4>
    <p>Hero Power: <%= @power[1]%></p>
    <p>Hero Biography: <%= @bio[1]%></p>

    <h4>Hero Name: <%= @name[2]%></h4>
    <p>Hero Power: <%= @power[2]%></p>
    <p>Hero Biography: <%= @bio[2]%></p>

      
      <input type="submit" value="submit">
      
</div>



