<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>

<h2>Hero Name: <%= Hero.all[0].name %></h2> 
<p>Hero Power: <%= Hero.all[0].power %></p>
<p>Hero Biography: <%= Hero.all[0].biography %></p>

<h2>Hero Name: <%= Hero.all[1].name %></h2> 
<p>Hero Power: <%= Hero.all[1].power %></p>
<p>Hero Biography: <%= Hero.all[1].biography %></p>

<h2>Hero Name: <%= Hero.all[2].name %></h2> 
<p>Hero Power: <%= Hero.all[2].power %>
<p>Hero Biography: <%= Hero.all[2].biography %>

