<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an  d<strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <h2>The Team</h2>
        <p>Team Name: <%= @team.name %></p>
        <p>Team Motto: <%= @team.motto %></p>

        <h2>The Heros</h2>
        <% @heros.each_with_index do |hero, index| %>
            <h3>Hero <%= index + 1 %></h3>
            <p>Hero Name: <%= hero.name %></p>
            <p>Hero Power: <%= hero.power %></p>
            <p>Hero Biography: <%= hero.bio %></p>
         <% end %>    

        <script src="" async defer></script>
    </body>
</html>