<h1><%= @team %></h1> 
<h2>Team Motto: <%= @motto =></h2>

<p> <% @member.each do |hero| %></p>
<h2>Hero Name: <%= hero[:name] %></h2>
<h4>Hero Power: <%= hero[:power] %></h4>
<h4>Hero Biography: <%= hero[:bio] %></h4>
<p><% end %></p>

