<h1>Here's Your Superhero Team!</h1>
<h2><%=params[:team][:name]%><br>
    Team Motto: <%=params[:team][:motto]%>
</h2>
<br>
<%params[:team][:members].each do |member|%>
<h2>Hero Name: <%=member[:name]%><br>
    Hero Power: <%=member[:power]%><br>
    Hero Biography: <%=member[:biography]%><br>
</h2>
<%end%>
