<h1>Team Name:<%=@team.name%><h1>
<h2>Team Motto:<%=@team.motto%><h2>


<%@super_heros.each.with_index do |hero, index|%>
<div class= 'hero'>
<%if index == 0%>
<h2>Hero Name:<%=hero.name%><h2>
<h3>Hero Power:<%=hero.power%><h3>
<h3>Hero Biogrophy:<%=hero.bio%><h3>
<%end%>
<%end%>
</div><br> 

<%@super_heros.each.with_index do |hero, index|%>
<div class= 'hero'>
<%if index == 1%>
<h2>Hero Name:<%=hero.name%><h2>
<h3>Hero Power:<%=hero.power%><h3>
<h3>Hero Biogrophy:<%=hero.bio%><h3>
<%end%>
<%end%>
</div><br> 


<%@super_hero.each.with_index do |hero, index|%>
<div class= 'hero'>
<%if index == 2%>
<h2>Hero Name:<%=hero.name%><h2>
<h3>Hero Power:<%=hero.power%><h3>
<h3>Hero Biogrophy:<%=hero.bio%><h3>
<%end%>
<%end%>
</div><br> 