<%require 'pry'%>
<h1><%=@team["name"]%></h1></br>
<h2>Team Motto: <%=@team["motto"]%></h2></br>
<h2>Hero Name: <%=@team["hero"][0]["name"]%></h2></br>
Hero Power: <%=@team["hero"][0]["power"]%></br>
Hero Biography: <%=@team["hero"][0]["biography"]%></br>

<h2>Hero Name: <%=@team["hero"][1]["name"]%></h2></br>
Hero Power: <%=@team["hero"][1]["power"]%></br>
Hero Biography: <%=@team["hero"][1]["biography"]%></br>

<h2>Hero Name: <%=@team["hero"][2]["name"]%></h2></br>
Hero Power: <%=@team["hero"][2]["power"]%></br>
Hero Biography: <%=@team["hero"][2]["biography"]%></br>
