<h2><%= @team_name %></h2>

  <h1>Team Motto: <%= @team_motto %></h1>
  <% @team_members.each_with_index do |hero, index| %>
    <h1>Hero Name: <%= @hero_name[index] %></h1>
    <p>Hero Power: <%= @hero_power[index] %></p>
    <p>Hero Biography: <%= @hero_biography[index] %></p>
  <% end %>
