<h1><%= params[:team][:name] %></h1>
<h2><%= params[:team] %></h2>

<%= params[:teams][:members].each |team_member| do %>
<h2>Hero Name: <%= team_member[:name] %></h2>
<p>Hero Power: <%= team_member[:power] %></p>
<p>Hero Biography: <%= team_member[:biography] %>></p>
<%= end %>
