<h1>Results:<h1>
<h2>Your Team:</h2>
<h3><%=@team.name %></h3><br>
<h3>Team Motto: <%=@team.motto %></h3><br><br>

<% @hero_list.each do |hero|%>
<h3>Hero Name: <%=hero.name%></h3>
<h3>Hero Power: <%=hero.power%></h3>
<h3>Hero Biography: <%=hero.biography%></h3>
<%end%>
