<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>


<ul><%@heroes.each.with_index do |hero, index|%>
    <li><h2>Hero Name: <%=@hero_name[index]%></h2></li>
    <li>Hero Power: <%=@hero_power[index]%></li>
    <li>Hero Biography: <%=@hero_bio[index]%></li>
    <%end%>
</ul>

