
  <h2> <%= @team_name %> </h2>
  <h2>Team Motto: <%= @motto %> </h2>



<div class="hero1">
  <% @heroes.each do |hero| %>
  <% binding.pry %>

  <h2>Hero name: <%= @hero.name %> </h2>
  <h3>Power: <%= @hero.power %> </h3>
  <h3>Biography: <%= @hero.biography %> </h3>
</div>

<div class ="hero2">
  <h2>Hero name: <%= @hero.name %> </h2>
  <h3>Power: <%= @hero.power %> </h3>
  <h3>Biography: <%= @hero.biography %> </h3>
</div>

<div class ="hero3">
  <h2>Hero name: <%= @hero.name %> </h2>
  <h3>Power: <%= @hero.power %> </h3>
  <h3>Biography: <%= @hero.biography %> </h3>
</div>
