<!-- <h1>Team Name: <%= team.name %></h1><br>
<h2>Team Motto: <%= team.name %></h2><br> -->

<!-- Hero 1 -->
<!-- <h2>Hero Name: <%= hero1.name %></h2><br>
<p>Hero Power: <%= hero1.power %></p><br>
<p>Hero Biography: <%= hero1.bio %></p><br> -->

<!-- Hero 2 -->
<!-- <h2>Hero Name: <%= hero2.name %></h2><br>
<p>Hero Power: <%= hero2.power %></p><br>
<p>Hero Biography: <%= hero2.bio %></p><br> -->

<!-- Hero 3 -->
<!-- <h2>Hero Name: <%= hero3.name %></h2><br>
<p>Hero Power: <%= hero3.power %></p><br>
<p>Hero Biography: <%= hero3.bio %></p><br> -->
