<h1><%= @teams.name %></h1>

<h2>Team Motto: <%= @teams.motto %></h2>

<% @heroes.each do |hero| %>
    <h2>Hero Name: <%= hero.name %></h2>
    <h4>Hero Power: <%= hero.power %></h4>
    <h4>Hero Biography: <%= hero.biography %></h4>
<% end %>